html {
	font-size: 16px;
}

html,body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #f5f6fb;
	margin: 0;
	padding: 0;
	font-family: 'Encode Sans Condensed', sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	&:hover {
		background-color: #a8a8a8;
	}
}

.flex { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.ju { justify-content: space-between; }


@mixin text-hidden($clamp: 1) {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	word-break: break-all;
	-webkit-line-clamp: $clamp;
	-webkit-box-orient: vertical;
}


@mixin flex ($al: false, $jc: false, $row: row){
	display: flex;
	flex-direction: $row;
	@if ($al) { align-items: $al; }
	@if ($jc) { justify-content: $jc; }
}

@mixin font ($size: false, $color: false, $weight: false, $lineHeight: 1.3) {
	@if ($size) {
		font-size: $size;
	}
	@if ($color) {
		color: $color;
	}
	@if ($weight) {
		font-weight: $weight;
	}
	@if ($lineHeight) {
		line-height: $lineHeight;
	}
}