

$primaryColor: #316c72;
$white: #fff;
$black: #000;
$line: #eee;


$font12: .75rem;
$font14: .875rem;
$font16: 1rem;
$font18: 1.125rem;
$font20: 1.25rem;
$font24: 1.5rem;
$font40: 2.5rem;

$br-s: .375rem;
$br-m: .75rem;
$br-l: 1.25rem;
$br-50: 50%;

